<div class="row login-page">
  <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4 text-center app-icon">
    <img src="../images/logo.png" width="145px" height="auto">
    <!--<i class="fa fa-video-camera fa-2x"></i> <span>video sharing</span>-->
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4 text-center">
    <div class="panel my-panel">
      <div class="panel-header sign-in">
        Sign In
      </div>
      <div class="panel-body">
        <div clas="row">
          <div class="col-xs-12 text-center add-padding">
            <button type="button" class="btn btn-primary btn-login" ng-click="ctrl.signInWithGoogle()">Google</button>
          </div>
        </div>
        <!--<div clas="row">
          <div class="col-xs-12 text-center add-padding">
            <button type="button" class="btn btn-primary btn-login" ng-click="ctrl.signInWithFacebook()">Facebook</button>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
</div>