<div class="row">

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading app-title">Search Videos</div>
            <div class="panel-body">
                <form class="row" ng-submit="ctrl.search()" style="padding:0 8px;">
                    <div class="form-group col-xs-10">
                        <input ng-model="ctrl.query"
                               required
                               type="text"
                               class="form-control"
                               placeholder="Search">
                    </div>
                    <button type="submit" class="col-xs-2 btn btn-default">
                        <i class="fa fa-search"></i> search
                    </button>
                </form>

            </div>
        </div>
    </div>

</div>


<!--search results-->
<div class="row">
    <my-loader message="'searching'" ng-show="ctrl.loading.videos"></my-loader>

    <div class="col-xs-12" ng-show="ctrl.empty">
        <p class="bg-success my-message">
            <i class="fa fa-exclamation-circle"></i> no result found
        </p>
    </div>

    <div class="row">
        <my-video video="video" ng-repeat="video in ctrl.videos"></my-video>
    </div>
</div>

